<ul>
  <li><a class="active" href="" routerLink="/">Home</a></li>
  <li><a href="" routerLink="/sumary">Summary</a></li>
  <li><a href="" routerLink="/items">Items</a></li>
</ul>
<div style="text-align: center; font-size: 16px">
  <router-outlet></router-outlet>
</div>
<!-- Copyright -->
<footer class="text-center text-lg-start bg-light text-muted">
<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
  Github:
  <a class="text-reset fw-bold" href="https://github.com/guilhermepimenta/projetoCielo">Guilherme dos Reis Pimenta</a>
</div>
<!-- Copyright -->
</footer>
<!-- Footer -->


