<div class="container">
    <!-- <h1 class="text">Desafio técnico</h1> -->
    <div class="home">
        <img src="../../../assets/358193-cielo-0-logo.png" alt="">  
    </div>

    <div class="mb-3">

        <h2>Documentação</h2>

        <h3>## Development server</h3>

                <p>Para rodar o projeto é necessário inicializar o servidor.</p>

                <p>Navegue até a pasta projetoCielo\src\db rodar a instrução <strong>'json-server lancamento-conta-legado.json'</strong></p>

                <p>Execute <strong>`ng serve`</strong> para um servidor dev. Navegue até a url <strong>`http://localhost:4200/`</strong>.</p>

        <h3>## Running unit tests</h3>

                <p>Execute <strong>`ng test`</strong> para executar os testes de unidade</p>

        <h3>## Running compodoc</h3>

                <p>Execute <strong>`npm run compodoc`</strong> que gerará a pasta documentation com a documentação do projeto.</p>

    </div>

</div>